*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 1px solid tomato;
  outline-offset: -2px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/* All container */
.container {
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Header */
.header-container {
  padding-top: 24px;
  padding-bottom: 25px;
}

/* Body */
/* main Hero */
.hero-container {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

/* Main */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}